@import url(http://fonts.googleapis.com/css?family=Signika+Negative:400,700);
/* line 4, ../sass/admin/_typography.sass */
h1, h2, h3 {
  font-family: "Signika Negative", sans-serif;
  font-weight: normal; }

/* line 1, ../sass/admin/_header.sass */
header {
  background: white;
  width: 100%;
  height: 60px;
  -webkit-box-shadow: #dddddd 0px 2px 5px;
  -moz-box-shadow: #dddddd 0px 2px 5px;
  box-shadow: #dddddd 0px 2px 5px;
  margin-bottom: 15px; }
  /* line 8, ../sass/admin/_header.sass */
  header #logo {
    float: left;
    font-size: 2em;
    line-height: 2.25em;
    margin-left: 25px;
    color: #513e2b; }

/* line 1, ../sass/admin/_layout.sass */
html, body {
  margin: 0;
  padding: 0;
  font-family: Verdana;
  font-size: 14px; }

/* line 7, ../sass/admin/_layout.sass */
body {
  background: #f6f6f6; }

/* line 10, ../sass/admin/_layout.sass */
ul {
  margin: 0;
  padding: 0; }

/* line 14, ../sass/admin/_layout.sass */
.clear {
  clear: both; }

/* line 17, ../sass/admin/_layout.sass */
.right {
  float: right; }

/* line 1, ../sass/admin/_sidebar.sass */
.side-bar {
  background: white;
  width: 200px;
  min-height: 250px;
  -webkit-box-shadow: #dddddd 0px 2px 5px;
  -moz-box-shadow: #dddddd 0px 2px 5px;
  box-shadow: #dddddd 0px 2px 5px;
  position: relative;
  float: left;
  margin-right: 30px; }
  /* line 10, ../sass/admin/_sidebar.sass */
  .side-bar .header {
    position: absolute;
    left: 0;
    line-height: 48px;
    font-size: 16px;
    color: white;
    font-weight: 500;
    z-index: 3; }
  /* line 19, ../sass/admin/_sidebar.sass */
  .side-bar .back {
    position: absolute;
    left: 0;
    top: 50px;
    background: #e6e6e6;
    width: 25px;
    height: 200px;
    float: left;
    cursor: pointer; }
    /* line 29, ../sass/admin/_sidebar.sass */
    .side-bar .back i {
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -13px 0 0 -7px;
      color: #888888; }
  /* line 37, ../sass/admin/_sidebar.sass */
  .side-bar nav {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px; }
    /* line 44, ../sass/admin/_sidebar.sass */
    .side-bar nav.slide-in {
      z-index: 2;
      top: 50px; }
  /* line 49, ../sass/admin/_sidebar.sass */
  .side-bar ul li a span, .side-bar .header span {
    display: inline-block;
    width: 45px;
    text-align: center;
    margin-right: 10px;
    color: white; }
    /* line 56, ../sass/admin/_sidebar.sass */
    .side-bar ul li a span i, .side-bar .header span i {
      font-size: 22px; }
  /* line 60, ../sass/admin/_sidebar.sass */
  .side-bar ul {
    margin: 0; }
    /* line 62, ../sass/admin/_sidebar.sass */
    .side-bar ul li {
      list-style: none; }
      /* line 65, ../sass/admin/_sidebar.sass */
      .side-bar ul li a {
        line-height: 48px;
        display: block;
        color: #513e2b;
        font-weight: 300;
        font-size: 16px;
        text-decoration: none; }
        /* line 73, ../sass/admin/_sidebar.sass */
        .side-bar ul li a:hover {
          color: white;
          font-weight: 500; }
      /* line 78, ../sass/admin/_sidebar.sass */
      .side-bar ul li.dashboard a span, .side-bar ul li.dashboard a:hover {
        background: #d94700; }
      /* line 82, ../sass/admin/_sidebar.sass */
      .side-bar ul li.sites a span, .side-bar ul li.sites a:hover {
        background: #cbab00; }
      /* line 86, ../sass/admin/_sidebar.sass */
      .side-bar ul li.content a span, .side-bar ul li.content a:hover {
        background: #8bce00; }
      /* line 90, ../sass/admin/_sidebar.sass */
      .side-bar ul li.user a span, .side-bar ul li.user a:hover {
        background: #21d094; }
      /* line 94, ../sass/admin/_sidebar.sass */
      .side-bar ul li.settings a span, .side-bar ul li.settings a:hover {
        background: #6782c0; }
      /* line 97, ../sass/admin/_sidebar.sass */
      .side-bar ul li.selected {
        display: none; }
      /* line 100, ../sass/admin/_sidebar.sass */
      .side-bar ul li ul {
        display: none; }
  /* line 103, ../sass/admin/_sidebar.sass */
  .side-bar .sub-nav {
    position: absolute;
    top: 50px;
    left: 39px; }
    /* line 108, ../sass/admin/_sidebar.sass */
    .side-bar .sub-nav li {
      float: none;
      margin: 0;
      display: block; }
      /* line 113, ../sass/admin/_sidebar.sass */
      .side-bar .sub-nav li a, .side-bar .sub-nav li a:hover {
        color: #513e2b;
        line-height: 35px; }
